html, body, #root {
    background-color: #5b1498;
    text-align: center;
    margin-top: 2px;

}


.panel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}

.left {
    /*background-color: #e74c3c;*/
}

.right {
    /*background-color: #2ecc71;*/
}

.PanelResizeHandle {
    background: #ccc;
    width: 10px;
    cursor: col-resize;
    transition: background 0.2s;
}

.PanelResizeHandle:hover {
    background: #888;
}

.text-area{
    width: 100%;
    height: 500px;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    /*field-sizing: content;*/

    /*width: 100%;*/
    /*flex-grow: 1;*/
    /*!*resize: none;*!*/
    /*padding: 10px;*/
    /*font-size: 16px;*/
    /*border-radius: 8px;*/
    /*border: 1px solid #ccc;*/
    /*outline: none;*/
    /*box-sizing: border-box;*/
}


.text-container {

    margin: 10px;         /* отступ от краёв панели */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text-prompt-area{
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;


}

/* App.css */
.my-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
}

.my-button:hover {
    background-color: #2980b9;
}
